# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Poetry
.poetry/

# PyCharm
.idea/

# Environment variables
.env
.env.*

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checking / linters
.mypy_cache/
.ruff_cache/

# Build / distribution
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.log
tempCodeRunnerFile.py